body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#searchForm {
    text-align: center;
    margin-top: 20px;
    display: flex;
}

input[type="email"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la animación de carga */
.loading-container {
    display: none; /* Ocultar inicialmente */
    text-align: center;
}

.loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}